<vg-player>
  <vg-overlay-play></vg-overlay-play>
  <vg-buffering></vg-buffering>

  <vg-controls vgFor="my-video" [vgAutohide]="true" [vgAutohideTime]="5">
    <vg-play-pause></vg-play-pause>

    <vg-scrub-bar>
      <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
      <vg-scrub-bar-buffering-time></vg-scrub-bar-buffering-time>
    </vg-scrub-bar>

    <vg-time-display vgProperty="left" vgFormat="mm:ss"></vg-time-display>

    <vg-mute></vg-mute>

    <vg-fullscreen></vg-fullscreen>
  </vg-controls>

  <video
    #master
    [vgMedia]="master"
    [vgMaster]="true"
    [vgDash]="sources[0]"
    id="my-video"
    type="video/mp4"
  ></video>

  <!-- <video
    [vgMedia]="slave"
    #slave
    [vgDash]="sources[1]"
    id="masterVideo"
    preload="auto"
  ></video> -->

  <!-- <video [vgMedia]="master" #master [vgMaster]="true" id="masterVideo" preload="auto">
    <source src="http://static.videogular.com/assets/videos/videogular.mp4" type="video/mp4">
  </video>
  
  <video [vgMedia]="slave" #slave id="slaveVideo" preload="auto">
    <source src="http://static.videogular.com/assets/videos/vr-demo.mp4" type="video/mp4">
  </video> -->
</vg-player>
